<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="card text-center">
        <div class="card-header" >
            C.G.E. 2022
        </div>
        <div class="card-body">
            <h5 class="card-title">-Desenvolvido Por:</h5>
            <p class="card-text">
                José‌ ‌Marcos‌ ‌Efigenio‌ ‌da‌ ‌Silva‌ ‌RA:‌ ‌22003105<br />
                Victor‌ ‌Tavares‌ ‌de‌ ‌Moura‌ ‌RA:22004094<br />
                Thomas‌ ‌Kenzo‌ ‌Matsuta‌ ‌RA:22008477 </p>
        </div>
        <img src="../assets/img/LOGO CORAMDEO_page-0001.jpg" class="rounded mx-auto d-block" style=" height:width; width: 200px;"/>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>