<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: aqua;">
		<a class="navbar-brand" href="#">C.G.E.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <i class="fa-solid fa-house"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/eventos">Eventos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cadastrarEvento">Criar Novo Evento</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/PessoaCadastro">Adicionar Pessoas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Em Breve</a>
				</li>
			</ul>
		</div>

		<a class="navbar-brand" href="#">
			<img src="assets/img/LOGO CORAMDEO_page-0001.jpg" width="130" height="30" alt="">
		</a>
	</nav>
	
	<div th:each="evento : ${evento}" class="container">
		<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>
				Nome: <span th:text=${evento.nome_evento}></span>
			<p />
			<p>
				Data: <span th:date=${evento.dt_evento}></span>
			<p />
		</div>
	</div>
</body>
</html>