<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" />
	<title>C.G.E.</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: aqua;">
		<a class="navbar-brand" href="#">C.G.E.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<i class="fa-solid fa-house"></i>
					</a></li>
				<li class="nav-item"><a class="nav-link" href="/eventos">Eventos</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarEvento">Criar Novo Evento</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="/PessoaCadastro">Adicionar
						Pessoas</a></li>
						<li class="nav-item">
					<a class="nav-link" href="/Pessoas">Lista de pessoas</a>
				</li>
								<li class="nav-item">
					<a class="nav-link" href="/Cargos">Lista de Cargos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/CargoCadastro">Adicionar Cargo</a>
				</li>
								<li class="nav-item">
					<a class="nav-link" href="/PessoaValores">Adicionar Valores</a>
				</li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Em
						Breve</a></li>
			</ul>
		</div>

		<a class="navbar-brand">
			<img src="https://i.postimg.cc/SQ5SzLXY/Coram-Deo.png" width="160" height="40" alt="coram deo img"/>
		</a>
	</nav>


	<div class="container">
		<h1 class="display-4">Cadastro de Pessoas</h1>
		<form method="post">
			<div class="form-group input">
				<label for="formGroupExampleInput">Nome</label> <input type="text" class="form-control"
					id="formGroupExampleInput" placeholder="ze das couves" name="nome">
			</div>
			<div class="row">
				<div class="col">
					<label for="formGroupExampleInput">CPF</label>
					<input type="number" class="form-control" placeholder="00000000000" name="cpf">
				</div>
				<div class="col">
					<label for="formGroupExampleInput">Data de Nascimento</label>
					<input type="date" class="form-control" placeholder="23/10/1998" name="dt_nasc">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<label for="formGroupExampleInput">Telefone</label>
					<input type="tel" name="telefone" class="form-control" placeholder="61 9 9999 9999" />
				</div>
				<div class="col">
					<label for="formGroupExampleInput">Email</label>
					<input type="email" name="email" class="form-control" placeholder="exemplo@exemplo.com" />
				</div>
			</div>
			<br>
			<div class="input-field col s5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Tipo
							de Pessoa</label>
					</div>
					<select class="custom-select" id="inputGroupSelect01">
						<option value="1">Candidato</option>
						<option value="2">Colaborador</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<label for="formGroupExampleInput">Endereço</label>
					<input type="text" name="endereco" class="form-control" placeholder="QSA 20 18" />
				</div>
				<div class="col">
					<label for="formGroupExampleInput">Cep</label>
					<input type="number" name="cep" class="form-control" placeholder="72014156" />
				</div>
				<div class="col">
					<label for="formGroupExampleInput">UF</label>
					<input type="text" name="uf" class="form-control" placeholder="DF" />
				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-dark">Salvar</button>
		</form>
	</div>
<br>
<div class="card text-center fixed-bottom-fluid">
  <div class="card-header">
    PIDI V
  </div>
  <div class="card-body">
    <h5 class="card-title">C.G.E.</h5>
    <p class="card-text">Hey Brow estamos em obra :C</p>
    <a href="https://github.com/SakakibaraKun/project-pidi5-cge" class="btn btn-primary">Visitar Projeto</a>
  </div>
  <div class="card-footer text-muted">
    C.G.E. - 2022
  </div>
</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>

</html>