<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<head>
<meta charset="ISO-8859-1">
<title>C.G.E.</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: aqua;">
		<a class="navbar-brand" href="#">C.G.E.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <i class="fa-solid fa-house"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/eventos">Eventos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cadastrarEvento">Criar Novo Evento</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/PessoaCadastro">Adicionar Pessoas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Pessoas">Lista de pessoas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Em Breve</a>
				</li>
			</ul>
		</div>

		<a class="navbar-brand">
			<img src="https://i.postimg.cc/SQ5SzLXY/Coram-Deo.png" width="160" height="40" alt="coram deo img"/>
		</a>
	</nav>
	<br>
	<div class="container">
		<h2 class="display-4">Lista de Eventos</h2>
		<table class="container table">
			<thead class="table-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Data Evento</th>
					<th scope="col">Deletar</th>

				</tr>
			</thead>
			<tbody class="table-light">
				<tr th:each="evento : ${evento}">
					<td><a th:href="@{/{codigo}(codigo=${evento.id})}"> <span
							th:text="${evento.Nome_evento}"></span></a></td>
					<td><span th:text="${evento.Dt_evento}"></span></td>
					<td><a th:href="${(#mvc.url('EC#DeletarEvento').arg(0, evento.id)).build()}">
									Deletar</a></td>
				</tr>
			</tbody>
		</table>
		

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>